---
layout: default
title: Homepage 
seo: 
 title: 
 meta-description:
 meta-keywords:
 featured-image_path:
 hide-from-google:
---
<section> 
    <div class="p-12 pt-4 grid sm:grid-cols-2 md:grid-cols-3 gap-4">

    {% for post in site.posts %}
        <a href="{{post.url}}">
            <h1 class="title text-center">{{post.title}}</h1>
            <div class="bg-image">
            <img src="{{post.image_path}}" alt="trees" class="object-cover w-auto h-[40vh]"></div>
            <span class="author">by {{post.author}}</span> //
            <span class="author"> {{post.date | date: "%m.%d.%Y" }} </span>
        </a>
    {% endfor %}

    </div>
</section>

{% include /blocks/cta.html %}