---
layout: default
title: Homepage
_id: cta
date: 2022-11-19 00:00:00
cta-text_html: <p>Lorem Ipsum is simply dummy text</p>
cta-button-title: Let's Go!
featured-title: We're gonna wanna remember this
featured-date: 2022-11-22 00:00:00
featured-image_path: >-
 https://images.unsplash.com/photo-1518057111178-44a106bad636?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1588&q=80
featured-image_alt: coffee
seo:
 title:
 meta-description:
 meta-keywords:
 featured-image_path:
 hide-from-google:
---
<!-- include a call to action here -->
{% include /blocks/cta.html %}

<!-- magazine title/blurb section -->
<section class="grid grid-cols-1 md:grid-cols-2 border-y border-black h-[50vh]">
    <div class="md:border-r border-black container mx-auto px-12 pt-12">
        <h1 class="uppercase font-bold text-3xl md:text-5xl object-fit">NotsoVogue<br />Magazine</h1>
        <!-- <p class="editable">Issue # {{page.issue}}</p> -->
        <p class="editable font-light italic">Issue # </p>
        <p class="font-thin italic">{{page.date}}</p>
    </div>
    <div class="container mx-auto px-12 flex items-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus culpa laboriosam repellat, iusto reprehenderit tempore non sequi corporis sunt esse odio dolor blanditiis tempora similique, sed ab minima eligendi laudantium ipsa velit eaque quia, sint laborum. Cupiditate ducimus eum porro qui at, eveniet accusamus pariatur quam minima molestias in recusandae mollitia laborum illum iusto ab, voluptatibus accusantium corporis optio expedita aut unde, quasi quidem sit.</p>
    </div>
</section>

<!-- today's stories section - we loop thru our posts and output them here but limit to the three most recent -->
<section class="px-10 bg-white"> 
    <h2 class="text-center pt-8 pb-8 text-xl">Today's Stories</h2>
    <div class="pb-8 grid sm:grid-cols-2 md:grid-cols-3 gap-8">

    {% for post in site.posts limit: 3 %}
        <a href="{{post.url}}">
            <div class="bg-image pb-2">
                <img src="{{post.featured-image_path}}" alt="trees" class="object-cover w-auto h-[40vh]" />
            </div>
            <p class="pt-2 font-thin italic text-rose-900">{{post.categories | join: ' / '}}</p>
            <h1 class="font-bold pt-5 uppercase">{{post.title}}</h1>
            <p class="pt-4">{{post.description}}</p>
            <p class="underline pt-8">Read More</p>
        </a>        
    {% endfor %}
    </div>
</section>

<!-- article/img/quote/img section -->
<section class="border-t border-black grid md:grid-cols-2 items-center">
    <div class="md:border-r border-black row-span-5">
        <h2 class="text-2xl font-semibold">{{page.featured-title}}</h2>
        <p>{{page.featured-date}}</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae beatae consequatur maiores sunt blanditiis atque quibusdam, quo, quod asperiores ut cupiditate illum error, deleniti sint laborum eligendi tempore accusamus. Alias provident eligendi dolorem, ipsa assumenda laudantium odit sint velit neque dignissimos ab obcaecati. Voluptatem, minus!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae illum dolores eveniet impedit obcaecati ipsum sequi laboriosam atque nisi labore quis ut quos, neque ipsam odio repudiandae quod cupiditate mollitia?</p>
    </div>
    <div class="row-span-2 border-b border-black">
        <img src="{{page.featured-image_path}}" alt="{{page.featured-image-alt}}" class="object-cover w-full h-[30vh]" />
    </div>
    <div class="row-span-1 border-b border-black p-12">
        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel expedita nobis, amet voluptate soluta assumenda dicta reprehenderit. Id nihil fuga distinctio. Debitis velit autem at."</p>
    </div>
    <div class="row-span-2">
        <img src="{{page.featured-image_path}}" alt="{{page.featured-image-alt}}" class="object-cover w-full h-[30vh]" />
    </div>
  </section>