
<header class="p-5">
    <div class="grid justify-center">
      <a href="/index.html" class="logo text-8xl font-extralight"> LOGO </a>
    </div> 
    <div class="text-center font-light p-6">
      <a href="#" class="p-2 px-10">link 1</a>
      <a href="#" class="p-2 px-10">link 2</a>
      <a href="#" class="p-2 px-10">link 3</a>
      <a href="#" class="p-2 px-10">link 4</a>
      <a href="#" class="p-2 px-10">link 5</a>
      <a href="#" class="p-2 px-10">link 6</a>
      <a href="#" class="p-2 px-10">link 7</a>
      <a href="#" class="p-2 px-10">link 8</a>
    </div>
</header>