<footer class="pb-12 grid grid-cols-3 bg-black text-white ">
    <!-- column -->
    <div class="">
      <h2 class="logo uppercase"> Logo </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  
    <!-- column -->
    <div class="">
      <h4 class="uppercase"> Our Services </h4>
      <nav>
        <a href="#" class="block"> Lorem ipsum </a>
        <a href="#" class="block"> Dolor sit </a>
        <a href="#" class="block"> Consectetur </a>
        <a href="#" class="block"> Ut enim ad </a>
      </nav>
    </div>
  
    <!-- column -->
    <div class="">
      <h4 class="uppercase"> Explore </h4>
      <nav>
        <a href="#" class="block"> Lorem ipsum </a>
        <a href="#" class="block"> Dolor sit </a>
        <a href="#" class="block"> Consectetur </a>
        <a href="#" class="block"> Ut enim ad </a>
      </nav>
    </div>