<footer class="border-t border-black">
  <div class="md:border-r border-black h-full grid grid-cols-2 md:grid-cols-3 items-center">  
    <!-- column -->
      <div class="grid items-center justify-center border-r border-black h-full">
        <h2 class="logo uppercase"> Logo </h2>
      </div>
    
      <!-- column -->
      <div class="self-end pb-4 md:block hidden">
        <h4 class="text-center font-thin italic"> Copyright 2022 </h4>
      </div>
    
      <!-- column -->
      <div class="p-12 md:border-l border-black">
        <h4 class="uppercase"> Categories </h4>
        <nav class="">
          <a href="#" class="block"> Travel </a>
          <a href="#" class="block"> Forest </a>
          <a href="#" class="block"> Consectetur </a>
          <a href="#" class="block"> Ut enim ad </a>
        </nav>
      </div>
  </div>
  <div class="border-t border-black md:hidden text-center p-4"><h4 class="font-thin italic">Copyright 2022</h4></div>
</footer>