<section class="p-8 inline-flex text-center align-middle items-center">
    <div class="pr-12">
        {% if block.cta-text_html %}
            {{ block.cta-text_html }}
        {% else %}
            {{page.cta-text_html}}
        {% endif %}
    </div>
    <div>
    <a href="#" class="border-solid border-2 rounded-lg px-6 pt-3 pb-3 bg-black text-white sm:mt-4">
        {% if block.cta-button-title %}
            {{ block.cta-button-title }}
        {% else %}
            {{page.cta-button-title}}
        {% endif %}
    </a>
    </div>
</section>